{% extends 'index.html' %}
{% block content %}
<div class="container-fluid mt-5 mb-5">
  <div class="p-2 bg-white px-4 rounded">
      <div class="d-flex flex-row justify-content-between align-items-center">
          <div class="d-flex flex-row align-items-center filters"><span class="ml-2">All types</span><i class="fa fa-angle-down ml-1"></i></div>
          <div class="d-flex flex-row align-items-center filters mt-2">
              <div class="sub-cat" style="border-bottom: 2px solid blue;">
                  <h6>Popular</h6>
              </div>
              <div class="sub-cat ml-2">
                  <h6 class="text-muted">Low</h6>
              </div>
              <div class="sub-cat ml-2">
                  <h6 class="text-muted">High</h6>
              </div>
          </div>
          <div class="d-flex flex-row align-items-center filters">
              <div class="d-flex flex-row align-items-center"><span class="ml-2">our price</span><i class="fa fa-angle-down ml-1"></i></div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4 col-lg-4 mt-2">
          <div class="p-4 bg-white rounded">
              <div class="d-flex flex-column">
                  <div class="d-flex flex-row justify-content-between align-items-center mb-2"><span class="item px-2 rounded">New</span>
                      <div><i class="fa fa-heart-o ml-2"></i></div>
                  </div>
                  <div class="mb-2 p-image"><img class="img-fluid img-responsive rounded" src="https://i.imgur.com/bV1xmG5.jpg" height="250"></div>
                  <div class="text-center"><span class="p-name">Timpot sofa set</span></div>
                  <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                      <div class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      <div class="buttons">
                          <div class="btn-group btn-group-sm" role="group"><button class="btn btn-outline-primary text-dark border-dark price" type="button">$60</button><button class="btn btn-outline-primary text-dark border-dark cart" type="button"><i class="fa fa-shopping-cart p-1"></i></button></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-lg-4 mt-2">
          <div class="p-4 bg-white rounded">
              <div class="d-flex flex-column">
                  <div class="d-flex flex-row justify-content-between align-items-center mb-2"><span class="item px-2 rounded">New</span>
                      <div><i class="fa fa-heart-o ml-2"></i></div>
                  </div>
                  <div class="mb-2 p-image"><img class="img-fluid img-responsive rounded" src="https://i.imgur.com/vgMi4nw.jpg" height="250"></div>
                  <div class="text-center"><span class="p-name">Mithon sofa set</span></div>
                  <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                      <div class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      <div class="buttons">
                          <div class="btn-group btn-group-sm" role="group"><button class="btn btn-outline-primary text-dark border-dark price" type="button">$70</button><button class="btn btn-outline-primary text-dark border-dark cart" type="button"><i class="fa fa-shopping-cart p-1"></i></button></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-lg-4 mt-2">
          <div class="p-4 bg-white rounded">
              <div class="d-flex flex-column">
                  <div class="d-flex flex-row justify-content-between align-items-center mb-2"><span class="item px-2 rounded">New</span>
                      <div><i class="fa fa-heart-o ml-2"></i></div>
                  </div>
                  <div class="mb-2 p-image"><img class="img-fluid img-responsive rounded" src="https://i.imgur.com/hRlGe10.jpg" height="250"></div>
                  <div class="text-center"><span class="p-name">Migol sofa set</span></div>
                  <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                      <div class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      <div class="buttons">
                          <div class="btn-group btn-group-sm" role="group"><button class="btn btn-outline-primary text-dark border-dark price" type="button">$80</button><button class="btn btn-outline-primary text-dark border-dark cart" type="button"><i class="fa fa-shopping-cart p-1"></i></button></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- <div class="row mt-2">
      <div class="col-md-12 col-lg-12"><img class="img-fluid img-responsive w-100 rounded" src="https://i.imgur.com/XZHajac.png"></div>
  </div> -->
  <div class="row">
      <div class="col-md-4 col-lg-4 mt-2">
          <div class="p-4 bg-white rounded">
              <div class="d-flex flex-column">
                  <div class="d-flex flex-row justify-content-between align-items-center mb-2"><span class="item px-2 rounded">New</span>
                      <div><i class="fa fa-heart-o ml-2"></i></div>
                  </div>
                  <div class="mb-2 p-image"><img class="img-fluid img-responsive rounded" src="https://i.imgur.com/6qKAkNk.jpg" height="250"></div>
                  <div class="text-center"><span class="p-name">Piply sofa set</span></div>
                  <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                      <div class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      <div class="buttons">
                          <div class="btn-group btn-group-sm" role="group"><button class="btn btn-outline-primary text-dark border-dark price" type="button">$70</button><button class="btn btn-outline-primary text-dark border-dark cart" type="button"><i class="fa fa-shopping-cart p-1"></i></button></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-lg-4 mt-2">
          <div class="p-4 bg-white rounded">
              <div class="d-flex flex-column">
                  <div class="d-flex flex-row justify-content-between align-items-center mb-2"><span class="item px-2 rounded">New</span>
                      <div><i class="fa fa-heart-o ml-2"></i></div>
                  </div>
                  <div class="mb-2 p-image"><img class="img-fluid img-responsive rounded" src="https://i.imgur.com/R9Y4IG7.jpg" height="250"></div>
                  <div class="text-center"><span class="p-name">Lusy sofa set</span></div>
                  <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                      <div class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      <div class="buttons">
                          <div class="btn-group btn-group-sm" role="group"><button class="btn btn-outline-primary text-dark border-dark price" type="button">$90</button><button class="btn btn-outline-primary text-dark border-dark cart" type="button"><i class="fa fa-shopping-cart p-1"></i></button></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-lg-4 mt-2">
          <div class="p-4 bg-white rounded">
              <div class="d-flex flex-column">
                  <div class="d-flex flex-row justify-content-between align-items-center mb-2"><span class="item px-2 rounded">New</span>
                      <div><i class="fa fa-heart-o ml-2"></i></div>
                  </div>
                  <div class="mb-2 p-image"><img class="img-fluid img-responsive rounded" src="https://i.imgur.com/beeeLPf.jpg" height="250"></div>
                  <div class="text-center"><span class="p-name">Tixon sofa set</span></div>
                  <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                      <div class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      <div class="buttons">
                          <div class="btn-group btn-group-sm" role="group"><button class="btn btn-outline-primary text-dark border-dark price" type="button">$85</button><button class="btn btn-outline-primary text-dark border-dark cart" type="button"><i class="fa fa-shopping-cart p-1"></i></button></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}